*.class

# Package Files #
*.jar
*.war
*.ear

# intellij
.idea/
*.iml

### Gradle ###
.gradle
/build/
#
## Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

